<!-- <div>
    <div class="chart-wrapper">  style="display: block;" 
      <h4 style="text-align: center;color: rgb(64, 64, 64);">תיקים שנפתחו/נסגרו ב-30 יום אחרונים</h4>
      <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors"
        >
      </canvas>
    </div>
</div> -->


<div>
  <div>
    <div style="display: block"><!--width="70" height="350" -->
       <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors">
      </canvas>
    </div>
  </div>
</div>